<!-- font-awesome -->
<%= stylesheet_link_tag 'font-awesome/css/font-awesome.min' %>
<%= stylesheet_link_tag 'css/terms.css' %>
<section class="terms_block">
  <div class="container">
    <div class="row">
      <h1><%= t('.title') %> </h1>
      <hr>
      <p class="last_revised"><b> <%= t('.date') %></b></p>
      <p><%= t('.privacy_content') %></p>
      <p><%= t('.privacy_content2') %> </p>
      <p><%= t('.privacy_content3') %> </p>
      <h2><%= t('.info_title') %></h2>
      <p class="last_revised"><b><%= t('.last_revised_content') %>  </b></p>
      <p><%= t('.info_content') %> </p>
      <p><%= t('.privacy_content4') %> </p>
      <p><%= t('.info_identity') %> </p>
      <p><%= t('.privacy_content5') %> </p>
      <p><%= t('.info_service') %></p>
      <p class="last_revised"><b><%= t('.service_title') %> </b></p>
      <p><%= t('.privacy_content6') %> </p>
      <p class="last_revised"><b><%= t('.transaction_info') %>  </b></p>
      <p><%= t('.privacy_content7') %>  </p>
      <h2><%= t('.collect_info') %></h2>
      <p class="last_revised"><b><%= t('.maintain_info') %>  </b></p>
      <p><%= t('.privacy_content8_info') %> <br>
        <%= t('.privacy_content8') %> </p>
      <p class="last_revised"><b><%= t('.protect_text') %> </b></p>
      <p><%= t('.info_collect') %> <br>
       <%= t('.info_collect2') %> <br>
        <%= t('.privacy_content9') %></p>
      <p class="last_revised"><b><%= t('.revised_info') %></b></p>
      <p><%= t('.privacy_content9') %> </p>
      <p class="last_revised"><b><%= t('.performance_info') %></b></p>
      <p><%= t('.performance_text') %>
        <br>  <%= t('.performance_text_content') %> </p>
      <p class="last_revised"><b><%= t('.communicate_info') %>  </b></p>
      <p><%= t('.performance_content10') %></p>
      <p class="last_revised"><b><%= t('.agreements_info') %>  </b></p>
      <p><%= t('.performance_content11') %> </p>
      <h2><%= t('.protect_title') %></h2>
      <p><%= t('.protect_content') %></p>
      <p><%= t('.performance_content12') %> </p>
      <h2><%= t('.contact_title') %></h2>
      <p><%= t('.conatct_content') %> </p>
      

    </div>
  </div>
</section>



