
<p>
  <strong>name:</strong>
  <%= @bank.name %>
</p>
<p>
  <strong>Bank Name:</strong>
  <%= @bank.bank_name %>
</p>
<p>
  <strong>Account name:</strong>
  <%= @bank.account_number %>
</p>
<p>
  <strong>Ifsc Code:</strong>
  <%= @bank.ifsc_code %>
</p>


<%= link_to 'Back', bank_details_path %>