<!-- font-awesome -->
<%= stylesheet_link_tag 'font-awesome/css/font-awesome.min' %>
<%= stylesheet_link_tag 'css/terms.css' %>
<section class="terms_block">
  <div class="container">
    <div class="row">
      <h1><%= t('.text00') %> </h1>
      <hr>
      <p class="last_revised"><b><%= t('.date') %></b></p>
      <p><%= t('.text1') %>(<a class="ylo_txt" href="javascript:void(0)"><%= domain_url %></a>)<%= t('.text01') %> (<a class="ylo_txt" href="javascript:void(0)"><%= t('.text2') %></a>)<%= t('.text3') %> </p>
      <p><%= t('.text4') %>(<a class="ylo_txt" href="javascript:void(0)"><%= domain_url %><%= t('.text5') %></a>). </p>
      <p class="last_revised"><b><%= t('.text6') %></b></p>
      <p><%= t('.text7') %>(<a class="ylo_txt" href="javascript:void(0)"><%= domain_url %><%= t('.text8') %></a>)<%= t('.text9') %> </p>
      <p class="last_revised"><b><%= t('.text10') %> </b></p>
      <p><%= t('.text11') %></p>
      <p class="last_revised"><b><%= t('.text12') %> </b></p>
      <p><%= t('.text13') %> </p>
      <p class="last_revised"><b><%= t('.text14') %> </b></p>
      <p><%= t('.text15') %></p>
      <p><%= t('.text16') %></p>
      <p><%= t('.text17') %> </p>
      <p><%= t('.text18') %></p>
      <p class="last_revised"><b><%= t('.text19') %></b></p>
      <p class="last_revised"><b><%= t('.text20') %></b></p>
      <p><%= t('.text21') %> (<a class="ylo_txt" href="javascript:void(0)"> <%= domain_url %><%= t('.text22') %></a>) <%= t('.text23') %> </p>
      <p class="last_revised"><b><%= t('.text24') %> </b></p>
      <p><%= t('.text25') %></p>
      <p><%= t('.text26') %> </p>
      <p class="last_revised"><b><%= t('.text27') %> </b></p>
      <p><%= t('.text28') %> </p>
      <p class="last_revised"><b><%= t('.text29') %>  </b></p>
      <p><%= t('.text30') %> </p>
      <p><%= t('.text31') %> </p>
      <p class="nomrgn"><%= t('.text32') %> </p>
      <ul class="listing">
        <li><%= t('.text33') %></li>
        <li><%= t('.text34') %></li>
        <li><%= t('.text35') %> </li>
      </ul>
      <p><%= t('.text36') %> </p>
      <p class="last_revised"><b><%= t('.text37') %></b></p>
      <p><%= t('.text38') %> </p>
      <p class="last_revised"><b><%= t('.text39') %></b></p>
      <p class="nomrgn"><%= t('.text40') %> </p>
      <ul class="listing">
        <li><%= t('.text41') %></li>
        <li><%= t('.text42') %></li>
        <li><%= t('.text43') %></li>
        <li><%= t('.text44') %></li>
        <li><%= t('.text45') %></li>
        <li><%= t('.text46') %></li>
        <li><%= t('.text47') %></li>
        <li><%= t('.text48') %></li>
        <li><%= t('.text49') %></li>
        <li><%= t('.text50') %></li>
        <li><%= t('.text51') %> </li>
      </ul>
      <p><%= t('.text52') %></p>
      <p class="last_revised"><b><%= t('.text53') %>  </b></p>
      <p><%= t('.text54') %></p>
      <p class="last_revised"><b><%= t('.text541') %> </b></p>
      <p class="last_revised"><b><%= t('.text55') %>  </b></p>
      <p><%= t('.text56') %></p>
      <p class="last_revised"><b><%= t('.text57') %> </b></p>
      <p class="nomrgn"><%= t('.text58') %>:</p>
      <ul class="listing">
        <li><%= t('.text59') %></li>
        <li> <%= t('.text60') %></li>
        <li><%= t('.text61') %></li>
        <li><%= t('.text62') %></li>
        <li><%= t('.text63') %></li>
      </ul>
      <p><%= t('.text64') %> </p>
      <p class="last_revised"><b><%= t('.text65') %>  </b></p>
      <p><%= t('.text66') %></p>
      <p class="last_revised"><b><%= t('.text67') %>  </b></p>
      <p><%= t('.text68') %>
        (<a href="#" class="ylo_txt"> <%= domain_url %><%= t('.text69') %></a>)<%= t('.text70') %> </p>
      <p class="last_revised"><b><%= t('.text71') %>   </b></p>
      <p class="nomrgn"><%= t('.text72') %></p>
      <ul class="listing">
        <li><%= t('.text73') %></li>
        <li><%= t('.text74') %></li>
        <li><%= t('.text75') %></li>
        <li><%= t('.text76') %></li>
        <li><%= t('.text77') %> </li>
        <li><%= t('.text78') %></li>
        <li><%= t('.text79') %> </li>
        <li><%= t('.text80') %></li>
        <li><%= t('.text81') %></li>
      </ul>
      <p class="last_revised"><b><%= t('.text82') %>  </b></p>
      <p><%= t('.text83') %> </p>
      <p class="last_revised"><b><%= t('.text84') %>  </b></p>
      <p><%= t('.text85') %> </p>
      <p class="last_revised"><b><%= t('.text86') %>  </b></p>
      <p><%= t('.text87') %> </p>
      <p class="last_revised"><b><%= t('.text88') %> </b></p>
      <p><%= t('.text89') %> (<a class="ylo_txt" href="javascript:void(0)">  <%= domain_url %> <%= t('.text96') %></a>). </p>
      <p class="last_revised"><b><%= t('.text90') %></b></p>
      <p><%= t('.text91') %> </p>
      <p class="last_revised"><b><%= t('.text92') %> </b></p>
      <p> <%= t('.text93') %> <a class="ylo_txt" href="mailto:support@Zinance.com"> <%= t('.text94') %> </a> <%= t('.text95') %> <%= domain_url %> <%= t('.text96') %>  </p>



    </div>
  </div>
</section>





