<% if order.currency.present? %>
  <tr>
    <td><%= order.created_at %></td>
    <% market_pair = order.currency.upcase.scan(/.{3}/) %>
    <td><%= market_pair[0] + "/" + market_pair[1] %></td>
    <td><%= t(".#{order.kind}") %></td>
    <td><%= t(".#{order.state}") %></td>
    <!--<td><%#= order.id %></td>-->
    <% if order.ord_type == 'limit' %>
      <td><%= order.price %></td>
    <% else %>
      <td><%= order.ord_type %></td>
    <% end %>
    <td><%= order.origin_volume %></td>
    <td><%= order.avg_price %></td>
    <td><%= order.origin_volume - order.volume %></td>
  </tr>
<% end %>
