<% content_for :frame do %>
  <div class="container history-pages">
    <h1 class="page_hding"><%= t('.trade_history') %></h1>
    <div class="search_market_sec">
      <%= form_tag trade_history_path, method: :get do |f| %>

        <span class="date">
          <label for="Date"><%= label_tag t('.date') %></label>
          <span class="search_input">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <%= text_field_tag :start_date, params[:start_date], id: "search", class: "view-calender", placeholder: "yyyy-mm-dd",style: "width:10%" %>
          </span>
          <%= "-" %>
          <span class="search_input">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <%= text_field_tag :end_date, params[:end_date], id: "search", class: "view-calender", placeholder: "yyyy-mm-dd",style: "width:10%" %>
          </span>
        </span>

        <span class="pair">
          <%= label_tag t('.pair') %>
          <span class="search_select">
            <%= select_tag 'currency', options_from_collection_for_select(@currency,:code_text,:code_text,params[:currency])
                %>
          </span>
          <%= "/" %>
          <span class="search_select">
            <%= select_tag "market", options_for_select(["BTC", "ETH", "USDT"],params[:market]),:prompt=>t('.all1') %>
          </span>
        </span>

        <span class="side">
          <%= label_tag t('.side') %>
          <span class="search_select">
            <%= select_tag "side", options_for_select([ t('.sell'), t('.buy')],params[:side]),:prompt=> t('.all2') %>
          </span>
          <%= submit_tag  t('.search'), :class => 'submit'  %>
        </span>

      <% end %>

    </div>

    <div id="trades">
      <div class="table-responsive">
        <table class="table table-condensed">
        <thead>
        <tr>
          <th><%= t('.created_at') %></th>
          <th><%= t('.market') %></th>
          <th><%= t('.side') %></th>
          <th><%= t('.base_currency') %></th>
          <th><%= t('.base_amount') %></th>
          <th><%= t('.quote_currency') %></th>
          <th><%= t('.quote_amount') %></th>
          <th><%= t('.price') %></th>
        </tr>
        </thead>
        <tbody class="list">
        <% if @trades.present? %>
          <%= render partial: 'trade', collection: @trades %>
        <% else %>
          <tr>
            <td colspan="8"><p class="text-center"><span class="not_found_img"><%= image_tag("zups.png", size: "85x75", ) %></span><%= t('.blank_trade') %></p></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
      <div class="pull-right">
        <%= paginate @trades %>
      </div>
    </div>
  </div>


  <script>
      $(function(){
          $('.calender').datepicker({
              format: 'yyyy-mm-dd',
              endDate: '+0d',
              autoclose: true
          });
          $('.view-calender').datepicker({
              format: 'yyyy-mm-dd',
              autoclose: true,
              endDate: new Date()
          })
          $('.fa-calendar').click(function() {
              $(this).siblings().focus()
          });
      });
      // Prevent disabled next pagination click
      $('.next ').click(function (e) {
          if ($(this).is('.disabled')) {
              e.preventDefault();

          }
      });

  </script>
<% end %>
