<div class="container">
  <div class="login_footer_links_sec">
    <ul>
      <li><a class="login_footer_links" href="<%= root_path %>"><%= t('.home') %> </a></li>
      <li><a class="login_footer_links" href="/support" target="_blank"> <%= t('.support') %></a></li>

    </ul>
    <p>©  <%= (Time.now.year)-1 %>- <%= Time.now.year %> <%= domain_url %>. <%= t('.All_Rights_Reserved') %>.</p>
  </div>
</div>