<!-- Buy and sell section start -->
<section class="blue_sec"></section>

<section class="btsbgen">

  <%= image_tag('IOTX-Web-en_01.png') %>
</section>

<section class="btscontent">
  <div class="btsinfo text-center">

    <%= image_tag('IOTX-Web-en_02.png') %>
  </div>
</section>

<section class="competition">
  <div class="container text-center">
    <div class="row">
      <h2><%= t ('.trading') %></h2>
      <p class="comTip"><%= t ('.volume') %> <span><%= t ('.text') %></span><%= t ('.ranking') %> <span>?</span> <%= t ('.please') %>
        <a class="yellow" href="javascript:void(0)"> <%= t ('.login') %></a></p>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
          <tr>
            <th class="f-left"><%= t ('.ranking1') %></th>
            <th class="f-left"><%= t ('.email') %></th>
            <th class="f-right"><%= t ('.trading_volume') %></th>
          </tr>
          <!-- ngRepeat: rank in newRank -->
          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa fa-star"></i>1</td>
            <td class="f-left">sv***@***.com</td>
            <td class="f-right">138956804 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->
          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa fa-star"></i>2</td>
            <td class="f-left">ic***@***.com</td>
            <td class="f-right">108241872 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa fa-star"></i>3</td>
            <td class="f-left">sa***@***.com</td>
            <td class="f-right">108020532 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->
          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>4</td>
            <td class="f-left">ni***@***.com</td>
            <td class="f-right">100013828 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>5</td>
            <td class="f-left">as***@***.com</td>
            <td class="f-right">76042440 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>6</td>
            <td class="f-left">iu***@***.net</td>
            <td class="f-right">70918836 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->
          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>7</td>
            <td class="f-left">pe***@***.com</td>
            <td class="f-right">65033820 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>8</td>
            <td class="f-left">jd***@***.com</td>
            <td class="f-right">57814149 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>9</td>
            <td class="f-left">oz***@***.com</td>
            <td class="f-right">44135765 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>10</td>
            <td class="f-left">lj***@***.com</td>
            <td class="f-right">43019213 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>20</td>
            <td class="f-left">lu***@***.br</td>
            <td class="f-right">27626859 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->

          <tr>
            <td class="f-left"><!-- ngIf: $index<3 --><i class="fa"></i>50</td>
            <td class="f-left">d1***@***.com</td>
            <td class="f-right">6746278 IOTX</td>
          </tr><!-- end ngRepeat: rank in newRank -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="btsinfo text-center">
  <%= image_tag('IOTX-Web-en_03.png') %>
</section>

