<section class="blue_sec"></section>

<section class="vote-banner">
  <div class="container banner-slog">
    <div class="row">
      <h3><%= t('.text') %></h3>
      <p><%= t('.deadline') %> 2018-06-19 05:30:00</p>
    </div>
  </div>
</section>
<section class="vote-main">
  <div class="container">
    <div class="row">
      <p class="desc">
        <span><%= t('.text2') %></span><a href="#"><%= t('.click_content') %></a>
      </p>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th><%= t('.options') %></th>
            <th><%= t('.voter') %></th>
            <th><%= t('.votes') %></th>
            <th><%= t('.proportion') %></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input type="checkbox" disabled=""></td>
            <td><div class="options"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="javascript:void(0)">Pundi X (NPXS)</a></div></td>
            <td>3288</td>
            <td>217390</td>
            <td>
              <div class="progress_block">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                </div>
                <span class="progress_value">41.83%</span>
              </div>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" disabled=""></td>
            <td><div class="options"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="javascript:void(0)">Pundi X (NPXS)</a></div></td>
            <td>3288</td>
            <td>217390</td>
            <td>
              <div class="progress_block">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                </div>
                <span class="progress_value">41.83%</span>
              </div>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" disabled=""></td>
            <td><div class="options"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="javascript:void(0)">Pundi X (NPXS)</a></div></td>
            <td>3288</td>
            <td>217390</td>
            <td>
              <div class="progress_block">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                </div>
                <span class="progress_value">41.83%</span>
              </div>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" disabled=""></td>
            <td><div class="options"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="javascript:void(0)">Pundi X (NPXS)</a></div></td>
            <td>3288</td>
            <td>217390</td>
            <td>
              <div class="progress_block">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                </div>
                <span class="progress_value">41.83%</span>
              </div>
            </td>
          </tr>

          <tr>
            <td><input type="checkbox" disabled=""></td>
            <td><div class="options"><i class="fa fa-info-circle" aria-hidden="true"></i> <a href="javascript:void(0)">Pundi X (NPXS)</a></div></td>
            <td>3288</td>
            <td>217390</td>
            <td>
              <div class="progress_block">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> </div>
                </div>
                <span class="progress_value">41.83%</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="voting_btn text-center">
        <button class="btn btn-default"><%= t('.end') %></button>
      </div>
    </div>
  </div>
</section>


<section class="inviteRule">
  <div class="container">
    <div class="row">
      <div class="minCenter">
        <div class="vote-rule">
          <h5><%= t('.text3') %></h5>
        </div>
        <div class="inviteRule-con">
          <ul>
            <li><i class="iconfont icon-list"></i><%= t('.time') %> 2018-06-15 15:30:00 — 2018-06-19 05:30:00.</li>
            <li><i class="iconfont icon-list"></i><%= t('.text4') %></li>
            <li><i class="iconfont icon-list"></i><%= t('.text5') %></li>
            <li><i class="iconfont icon-list"></i><%= t('.text6') %></li>
            <li><i class="iconfont icon-list"></i><%= t('.text7') %></li>
          </ul>
          <div class="spe">
            <p><%= t('.text8') %></p>
            <p><%= t('.text9') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>