<div class="modal" tabindex="-1" role="dialog" id="authModal">
  <div class="modal-dialog manage_add" role="document">
    <div class="modal-content ngdialog-content">
      <div class="modal-body">
        <div class="withdraw_disable">
          <div class="error_img"><img src="/jgicon.png" alt="img"></div>
          <p class="red_txt"><%=  t ('.auth_text') %></p>
          <p><%=  t ('.auth_text1') %></p>
          <div class="yzChoose">
            <a href="#" class="btgoogle redirect_setting"><span class="imgicon img-google1"></span><p class="ng-binding"><%=  t ('.google_auth') %></p></a>
            <a href="#" class="btphone redirect_setting" ><span class="imgicon img-phone"></span><p class="ng-binding"><%=  t ('.sms_auth') %></p></a>
          </div>
          <div class="smalltip">
            <span><%=  t ('.text') %></span>
            <a class="btn btn-orange" id="skipNow"><%=  t ('.skip_text') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
