<!-- font-awesome -->
<%= stylesheet_link_tag 'font-awesome/css/font-awesome.min' %>
<%= stylesheet_link_tag 'css/terms.css' %>
<%= stylesheet_link_tag 'css/contactus.css' %>
<section class="contactus_blk">
  <div class="contact_banner">
    <div class="contact_banner_heading">
      <h2><%= t('.title') %></h2>
    </div>
    <div class="contact-banner-block">
      <h4><%= t('.question') %></h4>
      <p><%= t('.please_content') %> <a href="javascript:void(0)"><%= t('.FAQ1') %></a> <%= t('.content') %></p>
      <%= link_to t('.view'), supports_path , class:'view-supports-btn' %>
      <p><%= t('.request_msg') %>  <%= link_to  t('.submit'), supports_path%>.</p>
    </div>
  </div>
</section>
<section class="links_blk">
  <div class="link_headline text-center">
    <p><%= t('.join_msg') %></p>
  </div>
  <div class="container">
    <div class="link_imgs">
      <ul>
        <li class="links1">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Telegram</span></a>
        </li>
        <li class="links2">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Facebook</span></a>
        </li>
        <li class="links3">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Twitter</span></a>
        </li>
        <li class="links4">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Reddit</span></a>
        </li>
        <li class="links5">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Weibo</span></a>
        </li>
        <li class="links6">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Steemit</span></a>
        </li>
        <li class="links7">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Medium</span></a>
        </li>
        <li class="links8">
          <a href="javascript(0)" target="_blank" class="icon_img"><span class="icon_link">Instagram</span></a>
        </li>
      </ul>
    </div>
  </div>





