<div id="ask_entry" class="bid_entry entry-left">
  <div class="panel-body">

    <div class="buy_sell_currency tbl_div">
      <div class="buy_sell_currency_left tbl_cell">
        <h2><%= t('.sell') %> <span class="currency_type"><%= t(market.ask['currency'], scope: 'market.currency') %></span></h2>
      </div>
      <div class="buy_sell_currency_right tbl_cell">
        <%= render partial: 'balance', locals: {currency: t(market.ask['currency'], scope: 'market.currency')} %>
      </div>
    </div>

    <%= form_for [market, order], remote: true do |f| %>
      <%= f.hidden_field :ord_type %>
      <div class="price market_flds tbl_div">
        <label class="tbl_cell price_label"><%= t('.price') %></label>
        <div class="tbl_cell input-group price_fld">
          <span class="label label-danger hint-price-disadvantage"></span>
          <div class="price_fld_block">
            <%= f.number_field :price, class: 'form-control', data: {toggle: "tooltip", placement: "auto", trigger: 'focus', animation: true  }, step: step_number(market) %>
            <span class="currency_type"><%= t(market.bid['currency'], scope: 'market.currency') %></span>
          </div>
        </div>
      </div>

      <div class="amount market_flds tbl_div">
        <label class="tbl_cell price_label"><%= t('.amount') %></label>
        <div class="tbl_cell input-group price_fld">
          <span class="label label-info hint-positions"></span>
          <div class="price_fld_block">
            <%= f.text_field :origin_volume, class: 'form-control',step: :any  %>
            <span class="currency_type"><%= t(market.ask['currency'], scope: 'market.currency') %></span>
          </div>
        </div>
      </div>

      <%= render partial: 'amount_percentage_buttons' %>

      <div class="amount market_flds tbl_div">
        <label class="tbl_cell price_label"><%= t('.total') %></label>
        <div class="tbl_cell input-group price_fld">
          <span class="label label-info hint-positions"></span>
          <div class="price_fld_block">
            <%= f.text_field :total, class: 'form-control',step: :any, placeholder: "min #{market.ask['fee']}"  %>
            <span class="currency_type"><%= t(market.bid['currency'], scope: 'market.currency') %></span>
          </div>
        </div>
      </div>
      <% if current_user %>
        <div class="buy_sell_btns">
          <button class="btn btn-danger btn-block text-down" type="submit">
            <%= t('.action', currency: t(market.ask['currency'], scope: 'market.currency')) %>
          </button>
        </div>
      <% else %>
        <%= render partial: 'mask' %>
      <% end %>
    <% end %>
  </div>
  <script>
      $('#order_ask_price').on('keyup', function() {
          if (this.value[0] === '.') this.value = '0'+this.value;
      });
  </script>


</div>


